<!DOCTYPE html>
<html>
<head>
  <title>Slayer</title>
</head>
<body>
<div id="app">
  <section class="row">
    <div class="small-6 columns">
      <h1 class="text-center">ТЫ</h1>
      <div class="healthbar">
        <div class="healthbar text-center" style="background-color: green; margin: 0; color: white;"
             :style="{width: playerHealth + '%'}">
          {{ playerHealth }}
        </div>
      </div>
    </div>
    <div class="small-6 columns">
      <h1 class="text-center">ПРОТИВНИК</h1>
      <div class="healthbar">
        <div class="healthbar text-center" style="background-color: green; margin: 0; color: white;"
             :style="{width: monsterHealth + '%'}">
          {{ monsterHealth }}
        </div>
      </div>
    </div>
  </section>
  <section class="row controls" v-if="!gameIsRunning">
    <div class="small-12 columns">
      <button id="start-game" @click="startGame">НОВАЯ ИГРА</button>
    </div>
  </section>
  <section class="row controls" v-else>
    <div class="small-12 columns">
      <button id="attack" @click="attack">АТАКА</button>
      <button id="special-attack" @click="specialAttack">СУПЕР АТАКА</button>
      <button id="heal" @click="heal">ЛЕЧИТЬСЯ</button>
      <button id="give-up" @click="giveUp">СДАТЬСЯ</button>
    </div>
  </section>
  <section class="row log" v-if="turns.length > 0">
    <div class="small-12 columns">
      <ul>
        <li v-for="turn in turns"
            :class="{'player-turn': turn.isPlayer, 'monster-turn': !turn.isPlayer}">
          {{ turn.text }}
        </li>
      </ul>
    </div>
  </section>
</div>
</body>
</html>
